@use './ColorPalette.scss' as *;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100svw;
  height: 100svh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  background-color: $dark-100;
  color: $primary-text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
